header {
  display: -ms-grid;
  display: grid;
  height: 100%;
}

header .header__image {
  background: url(../images/slider.jpg);
  background-size: cover;
  height: 700px;
}

header .header__image:after {
  content: '';
  top: 55px;
  right: 0;
  width: 100%;
  height: 700px;
  z-index: 1;
  background: rgba(5, 5, 5, 0.5);
}

header .header__image h1 {
  font-size: 2.5rem;
  color: white;
  width: 60vw;
  text-align: center;
  margin: auto;
}

header .header__image .profile-pic {
  text-align: center;
}

header .header__image .profile-pic img {
  width: 150px;
  display: inline-block;
  height: 150px;
  border: 3px solid black;
  border-radius: 50%;
  margin-top: 8rem;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}

.auth-box {
  margin-top: 3rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.headline {
  background: #f6f6f6;
  margin: auto;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline .headline-card {
  width: 450px;
  height: 200px;
  margin: 1rem;
}

.headline .headline-card .headline-image {
  height: 200px;
}

.headline .headline-card .headline-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.headline .headline-card .headline-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.headline .headline-card .headline-info div {
  margin: 5px;
}

.mid-bennar {
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  /* margin-left: 25vw; */
  /* Media Queries */
}

.mid-bennar .mid-bennar-image {
  display: block;
  height: 314px;
  margin: auto;
}

.mid-bennar .mid-bennar-main-text {
  z-index: 100;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  width: 60%;
  text-align: center;
  bottom: 5rem;
}

.mid-bennar .mid-bennar-secondary-text {
  z-index: 100;
  position: absolute;
  color: #ccc;
  font-weight: bold;
  width: 40%;
  text-align: center;
  bottom: 0;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .mid-bennar .mid-post_info {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .mid-bennar .mid-post_info {
    width: 95%;
  }
  .mid-bennar .mid-bennar-main-text p {
    font-size: 1em;
    bottom: 7rem;
  }
  .mid-bennar .mid-bennar-secondary-text {
    font-size: 0.7em;
    bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .mid-bennar .mid-bennar-image {
    height: 12rem;
  }
  .mid-bennar .mid-bennar-main-text {
    height: 5rem;
    font-size: 0.7em;
  }
  .mid-bennar .mid-bennar-secondary-text {
    font-size: 0.5em;
    bottom: 10px;
  }
}

.mid-post_info {
  width: 951px;
  z-index: 100;
  position: absolute;
  font-size: 1em;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mid-post_info .mid-tag {
  padding: 0.8rem 0 1rem;
  width: 50%;
}

.mid-post_info .mid-tag p {
  background: gold;
  width: 5rem;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.mid-post_info .mid-post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: stretch;
  width: 60%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mid-post_info .mid-post-details .mid-post-details-author,
.mid-post_info .mid-post-details .mid-post-details-date {
  padding: 2rem 0.7rem 0.4rem 0;
  color: #ccc;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .mid-post_info {
    font-size: 0.5em;
    bottom: 0;
  }
  .mid-post_info .mid-tag p {
    font-size: 0.9rem;
    width: 3rem;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  padding: 10px;
  margin: 10px auto;
  border: none;
}

main .card {
  border: none;
  margin: auto;
  width: 70%;
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

main .card .card-text > span {
  color: #ccc;
}

.home-newsletter {
  padding: 80px 0;
  background: #1a54e7;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #243c4f;
}

.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}

footer {
  width: 100%;
  font-size: 1.6rem;
  color: #ccc;
  text-align: center;
  vertical-align: middle;
  line-height: 20rem;
}
/*# sourceMappingURL=main.css.map */