.userPate-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;


}

.userPate-layout>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin-top: 1rem;
}

.userinput>form {
    border: 1px solid black;
    margin: 5px;

}

.add-post-form {
    padding: 5px;
}

.add-post-form>button {
    margin-top: 1rem;
}

// show user 

.show-post {
    border: 1px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(1fr);
    // grid-template-rows: 1fr;
    grid-template-areas:
        "title title title category"
        "title title title date";

    // background: thistle;

    & .post-name {
        grid-area: title;
    }


    & .post-category {
        grid-area: category;

    }

    & .post-author {
        grid-area: author;
        // background: chartreuse;
    }

    & .post-date {
        grid-area: date;
        // background: brown;

    }
}

.show-post:hover {
    background: #f6f6f6;
}


.show-user-list {
    list-style-type: none;
    margin: 5px;
}

.show-user-item>a {
    text-decoration: none;
    color: black;

}